@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.bg-white {
  background-color: white;
}
.pad {
  padding-block: 200px;
}
.hero-image {
  width: 50%;
}
.link {
  color: white;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .hero-image {
    
    width: 100%;
  }
}